apiVersion: batch/v1
kind: CronJob
metadata:
  name: postgres-backup
  namespace: ha-platform
spec:
  schedule: "0 0 * * *" # Runs daily at midnight
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: backup
            image: postgres:15-alpine
            env:
              - name: POSTGRES_PASSWORD
                valueFrom:
                  secretKeyRef:
                    name: postgres-secret
                    key: POSTGRES_PASSWORD
            envFrom:
            - secretRef:
                name: postgres-secret
            command: 
            - "/bin/sh"
            - "-c"
            - "export PGPASSWORD=$POSTGRES_PASSWORD; pg_dump -h postgres-0.postgres.ha-platform.svc.cluster.local -U $POSTGRES_USER postgres > /backups/db-$(date +%Y%m%d).sql"
            volumeMounts:
            - name: backup-vol
              mountPath: /backups
          restartPolicy: OnFailure
          volumes:
          - name: backup-vol
            persistentVolumeClaim:
              claimName: backup-pvc