apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-init-scripts
  namespace: ha-platform
# Inside k8s/postgres-configmap.yaml
data:
  init-replication.sh: |
    #!/bin/bash
    set -e
    [[ `hostname` =~ -([0-9]+)$ ]] || exit 1
    ordinal=${BASH_REMATCH[1]}

    if [[ $ordinal -eq 0 ]]; then
      echo "Configuring Primary..."
      # ALLOW replication connections from the internal network
      echo "host replication all 0.0.0.0/0 trust" >> "$PGDATA/pg_hba.conf"
      # Ensure the primary is listening on all interfaces
      echo "listen_addresses='*'" >> "$PGDATA/postgresql.conf"
    else
      echo "Initializing as Standby... Waiting for primary."
      until pg_isready -h postgres-0.postgres.ha-platform.svc.cluster.local; do
        sleep 2
      done
      if [ ! -s "$PGDATA/PG_VERSION" ]; then
        echo "Cloning data from primary..."
        pg_basebackup -h postgres-0.postgres.ha-platform.svc.cluster.local -D $PGDATA -U $POSTGRES_USER -vP -R
      fi
    fi