apiVersion: v1
kind: Service
metadata:
  name: web-service
  namespace: ha-platform
spec:
  type: NodePort
  selector:
    app: web-app
  ports:
    - port: 80
      targetPort: 8080
      nodePort: 30007